/* TailWind Animation */

.menu-open .top {
  transform: translateY(5px) rotate(45deg);
}

.menu-open .middle {
  opacity: 0;
}

.menu-open .bottom {
  transform: translateY(-10px) rotate(-45deg);
}

/* Icon updates font color */
.menu-open span {
  background-color: white;
}
