.gradient-ball {
  background: radial-gradient(
    circle at center,
    rgb(59 130 246) 0%,
    /* blue-500 */ rgb(59 130 246 / 0.6) 40%,
    transparent 70%
  );
  animation: floatAround 18s ease-in-out infinite alternate;
}

@keyframes floatAround {
  0% {
    transform: translate(-10%, -10%);
  }
  25% {
    transform: translate(70vw, 10vh);
  }
  50% {
    transform: translate(40vw, 60vh);
  }
  75% {
    transform: translate(10vw, 40vh);
  }
  100% {
    transform: translate(80vw, 80vh);
  }
}
